<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style>
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 8px 0;
    }

    p {
        margin: 0;
    }

    .spacer {
        flex: 1;
    }

    .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;
        background-color: #1976d2;
        color: white;
        font-weight: 600;
    }

    .toolbar img {
        margin: 0 16px;
    }

    .toolbar #twitter-logo {
        height: 40px;
        margin: 0 16px;
    }

    .toolbar #twitter-logo:hover {
        opacity: 0.8;
    }

    .content {
        display: flex;
        margin: 82px auto 32px;
        padding: 0 16px;
        /* max-width: 960px; */
        /* flex-direction: column; */
    }

    /* .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  } */

    /* .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  } */
    /* 
  .terminal pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  } */

    .circle-link {
        height: 40px;
        width: 40px;
        border-radius: 40px;
        margin: 8px;
        background-color: white;
        border: 1px solid #eeeeee;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: 1s ease-out;
    }

    .circle-link:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    }

    footer {
        margin-top: 8px;
        display: flex;
        align-items: center;
        line-height: 20px;
    }

    footer a {
        display: flex;
        align-items: center;
    }

    .tbuttons {
        margin: 3px 3px 1px 0px;
    }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <img width="40" alt="V4 Logo" src="https://nxm-clw-cdn.dn.nexoncdn.co.kr/v4/global/brand/img/logo.2c6cf61.png" />
    <span>V4 Evelyn2 - LATINOS</span>
    <div class="spacer"></div>
</div>

<div class="content" role="main">
    <div class="card-columns card-container">

        <div class="card" *ngFor="let boss of arrBossData">
            <div class="row no-gutters">
                <div class="col-sm-5" style="background: #868e96;">
                    <img width="100%" height="100%" alt="{{boss.name}}" src="{{boss.img}}" />
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title" style="color: indigo;"><strong>Canal: {{boss.channel}}</strong> </h5>
                        <p *ngIf="boss.status == true">Reaparece en: <strong style="color: green;">{{boss.timerup}} minutos</strong> </p>
                        <p *ngIf="boss.status == false">Reaparece en: <strong style="color: red;">Desconocido</strong> </p>
                        <p *ngIf="boss.status == false">De clic en el boton <strong style="color: blue;">play</strong> si el boss acaba de morir.</p>
                        <button *ngIf="boss.status == false" type="button" (click)="EnableDisableTimer(boss.id)" class="btn btn-primary">
                            <fa-icon [icon]="faPlay"></fa-icon>
                        </button>
                        <!-- <a *ngIf="boss.status == false" href="#" (click)="EnableDisableTimer(boss.id)" class="tbuttons btn btn-primary">
                            <fa-icon [icon]="faPlay"></fa-icon>
                        </a> -->
                        <button *ngIf="boss.status == true" type="button" (click)="EnableDisableTimer(boss.id)" class="btn btn-danger">
                            <fa-icon [icon]="faStop"></fa-icon>
                        </button>
                        <!-- <a *ngIf="boss.status == true" href="#" (click)="EnableDisableTimer(boss.id)" class="tbuttons btn btn-danger">
                            <fa-icon [icon]="faStop"></fa-icon>
                        </a> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>